<p style="text-align: left"><span style="font-size: medium"><a href="http://www.nassaucountyspca.org/adoption.cfm"><img border="0" width="125" height="120" alt="" src="https://origin.ih.constantcontact.com/fs109/1106304554429/img/39.jpg" /></a><br />
Maxi</span><a target="_self" href="https://www.nassaucountyspca.org/adoption.cfm"><br />
<br />
<br />
<img border="0" name="thumbnail" alt="" width="128" height="90" src="https://origin.ih.constantcontact.com/fs109/1106304554429/img/38.jpg" /></a><br />
<span style="font-size: medium">Dylan</span><a href="http://www.nassaucountyspca.org/adoption.cfm"><span style="color: rgb(0,0,0)"><br />
</span><br />
<br />
<img border="0" name="thumbnail" alt="" style="width: 132px; height: 91px" src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/33.jpg" /></a><br />
<span style="font-size: medium">Brother &amp; Sister&nbsp;<br />
</span><span style="font-size: medium"><span style="font-family: Arial"><br />
</span></span><br />
<a href="http://www.nassaucountyspca.org/adoption.cfm"><strong><img border="0" name="thumbnail" alt="" width="125" height="136" src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/22.jpg" /></strong></a><strong><br />
</strong><span style="font-size: medium"><span style="font-family: Arial">Chico<br />
<br />
</span></span><a href="http://www.nassaucountyspca.org/adoption.cfm"><img border="0" name="ACCOUNT.IMAGE.16" hspace="5" alt="" vspace="5" width="115" height="172" src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/16.jpg" /></a><span style="font-family: Arial">&nbsp;Scarlet</span></p>
<br />
<br />
<a href="http://www.nassaucountyspca.org/adoption.cfm"><img border="0" name="ACCOUNT.IMAGE.21" alt="" vspace="5" width="125" height="98" jquery17109501519575876636="131" _mce_src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/21.jpg" src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/21.jpg" /></a><br />
<span style="font-size: medium"><span style="font-family: Arial">Chance</span></span><br />
<br />
<a href="http://www.nassaucountyspca.org/adoption.cfm"><img border="0" name="ACCOUNT.IMAGE.12" hspace="5" alt="" vspace="5" width="114" height="177" _mce_src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/12.jpg" jquery15206354090859747857="101" src="https://origin.ih.constantcontact.com/fs082/1106304554429/img/12.jpg" /></a>&nbsp; <span style="font-size: medium"><span style="font-family: Arial">&nbsp;&nbsp;Cleo</span></span><br />
<br />
